{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>News API</h1>
    <a href="/abc">Click Here for ABC News Articles</a><br>
    <a href="/bbc">Click Here for BBC Articles</a><br>
    <a href="/bloomberg">Click Here for Bloomberg Articles</a><br>
    <a href="/cnn">Click Here for CNN Articles</a><br>
    <a href="/foxnews">Click Here for Fox News Articles</a><br>
    <a href="/nytimes">Click Here for New York Times Articles</a><br>
    <a href="/politico">Click Here for Politico Articles</a><br>
    <a href="/usatoday">Click Here for USA Today Articles</a><br>
    <a href="/wapost">Click Here for Washington Post Articles</a><br>
    <h1>Top Headlines - All News Sources</h1>
    {% for news in news_data.articles %}
                <h1>{{ news.title.title }}</h1>
                <h3>{{ news.description.title }}</h3>
                <img src="{{ news.urlToImage }}" alt="Article Image" height="400" width="auto" class="image">
                <h5>Published {{ news.publishedAt }}</h5>
                <h6>{{ news.source.name }} </h6>
            <a href="{{ news.url }}">{{ news.description }}</a>
            <br>
            <hr>
    {% endfor%}
</div>
{% endblock %}