{% extends 'base.html' %}

{% block title %}
<title>Politico</title>
{% endblock%}


{% block content %}
<div class="container">
    <h1>Politico API</h1>
    {% load static %}
    <img src="{% static 'politico_logo.jpeg' %}" alt="Politico Logo" class="image">
    <br>
    <h2>Top Headlines</h2>
    {% for news in politico_news_data.articles %}
                <h1>{{ news.title.title }}</h1>
                <h3>{{ news.description.title }}</h3>
                <img src="{{ news.urlToImage }}" alt="Article Image" height="400" width="auto" class="image">
                <h5>Published {{ news.publishedAt }}</h5>
                <h6>{{ news.source.name }} </h6>
            <a href="{{ news.url }}">{{ news.description }}</a>
            <br>
            <hr>
    {% endfor%}
</div>
<a href="/">Go Back</a>
{% endblock %}